:root {
  --primary-color: #6f00ff;
  --background-second-color-dark-theme: #1a1a21;
  --background-color-light-theme: #fff;
  --background-color-dark-theme: #0a0a0d;
  --text-color-light-theme: #0a0a0d;
  --text-color-dark-theme: #fff;
}

*,
*::before,
*::after {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.light {
  background-color: var(--background-color-light-theme);
}

.dark {
  background-color: var(--background-color-dark-theme);
}

::selection {
  color: white;
  background-color: var(--primary-color);
}
